div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
/* 
#box1{
    position: static;
    background-color: red;
}
#box2{
    position: relative;
    top: 20px;
    left: 10px;
    background-color: blueviolet;
    z-index: 1;
}

#box3{
    position:absolute;
    top: 500px;
    left: 20px;
    background-color: green;
    
}

#box4{
    position: fixed;
    top:50px;
    background-color: yellow;
    z-index: 2;
   
} */

body{
    background-image: url('bnw_photo.jpg');
}
#box1{
    background-image: url('su_photo.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}
