body{
    text-align: center;
}


div{
    width: 50px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
    
}

#container{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: center; */
}

#box1{
    background-color: rgb(192, 81, 81);
}

#box2{
    background-color: rgb(72, 72, 190);
    height: 200px;
    flex-grow: 1;

    
}

#box3{
    background-color: rgb(20, 162, 20);
}

#box4{
    background-color: rgb(177, 177, 17);
    flex-grow: 1;
   
}

#box5{
    background-color: rgb(136, 30, 136);
}